$borderColor: gray;

.SpotifyEmbed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $borderColor;
  background-color: black;
  transition: opacity 0.3s linear;
}

.CloseButton {
  $buttonSize: 28px;
  position: absolute;
  background-color: black;
  color: white;
  border: 1px solid $borderColor;
  padding: 0;
  left: 301px;
  top: -1px;
  width: $buttonSize;
  height: $buttonSize;
}