$borderColor: gray;
$borderWidth: 1px;

.SpotifyEmbed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: $borderWidth solid $borderColor;
  background-color: black;
  transition: opacity 0.3s linear;
}

.CloseButton {
  $buttonSize: 28px;
  position: absolute;
  background-color: black;
  color: white;
  border: $borderWidth solid $borderColor;
  padding: 0;
  left: 300px + $borderWidth;
  top: 0 - $borderWidth;
  width: $buttonSize;
  height: $buttonSize;
}