.Song {
  display: flex;
  color: white;
  align-items: center;
  height: 30px;
  justify-content: flex-end;
  margin-bottom: .3rem;

  &.selected {
    background-color: rgba(48, 82, 48, 0.8);
    border-radius: 2px;
  }

  button {
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    $size: 24px;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
  }

  .VoteButton {
    font-size: 1rem;
    margin-left: 5%;
  }
  
  .PlayButton {
    font-size: 0.7rem;
    border-radius: 50%;
    padding-left: 2px;
  }
}

.SongName {
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
  line-height: 1.2;
}
