.Song {
  display: flex;
  color: white;
  align-items: center;
  height: 30px;
  justify-content: flex-end;
  // background-color: rgba(rgb(29, 65, 29), 0.7);
  // border-radius: 10px;
  margin-bottom: .3rem;

  button {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
  }
}

.SongName {
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: percentage(2 / 3);
  line-height: 1.2;
}

.VoteButton {
  $size: 24px;
  width: $size;
  height: $size;
  padding: 0;
  text-align: center;
  line-height: $size;
  font-size: 1rem;
  margin-left: 5%;

  &:focus {
    outline: none;
  }
}
