.AlbumCardListItem {
  margin-bottom: 24px;
  box-shadow: 0 0 5px 1px;

  &.kill {
    color: #e00a14;
  }

  &.ride {
    color: #0d64b3;
  }
  
  &.master {
    color: #86623e;
  }
}

.AlbumCard {
  color: white;
  display: flex;
  flex-direction: row;

  img {
    width: 38vw;
    margin-right: 15px;
  }
}

.TextContainer {
  padding: 15px 0;
}

.AlbumTitle {
  font-size: 22px;
}

.AlbumYear {
  font-size: 18px;
  margin-top: 0.5em;
}
