@import '../../styles/base';

.AlbumCardListItem {
  margin-bottom: 24px;
  box-shadow: 0 0 5px 1px;

  @include albumThemeColor(color);
}

.AlbumCard {
  color: white;
  display: flex;
  flex-direction: row;

  img {
    width: 38vw;
    margin-right: 15px;
  }
}

.TextContainer {
  padding: 15px 0;
  width: 100%;
}

.AlbumTitle {
  font-size: (22px / $minFontSize) * 1rem;
}

.AlbumYear {
  font-size: (18px / $minFontSize) * 1rem;
  margin-top: 0.5em;
}
