@import "base";
@import 'reset';

* {
  box-sizing: border-box;
}

html {
  background-color: $backgroundColor;
  font-family: $font-family-montserrat;
  font-size: $minFontSize;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-mulish;
}

button {
  background: none;
  border: none;
  padding: 0;

  @media only screen and (max-width: 720px) {
    &:focus {
      outline: none;
    }
  }
}
